
<%= render :partial => 'mermaid', :locals => { :title => "Jobs Today"} %>
<% if not (@week.nil? or @crews.nil?) %>
	<%= render 'crews' %>
<% else %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>No Crews found for today</h1>
		</div>
	</div>
<% end %>
